
Library
Logs
user.keystore
CVS
*/CVS
*/*/CVS
CVS
Packages
Vuforia
Assembly-CSharp.csproj
.vsconfig
.cvsignore
*.meta
.vs
obj/Debug/Assembly-CSharp.csproj.AssemblyReference.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/VuforiaEditorScripts.csproj.AssemblyReference.cache
obj/Debug/VuforiaScripts.csproj.AssemblyReference.cache
AndroidArvosU2018_3.sln
AR-vos.apk
obj
Export
